/* ====================================================
   PALETA DE COLORES AALA DESPACHO
   ==================================================== */
:root { 
  --primary: #F3F4F4; 
  --secondary: #853953;
  --terciary: #612D53; 
  --primary-dark: #2C2C2C; 
  
  /* Medidas globales */
  --sidebar-width: 260px;
}

/* Reset total para ocupar toda la pantalla */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', -apple-system, sans-serif;
  background-color: var(--primary);
  color: var(--text-main); /* Aplicamos el color de texto más oscuro por defecto */
}

/* Forzamos a que el contenedor de Vue no tenga límites */
#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: none; 
  display: block; 
}